/*font-family: 'PT Sans', sans-serif;*/
body{
    font-family: 'PT Sans', sans-serif;
    color:#010101;

}
/*header-start*/
/*header-end*/
header{
    background-color: #fcdb00;
    padding: 5px 0px;
}
.logo{
    
}
.manu ul li a{
    font-weight: 700;
    font-size: 22px;
    color:#010101 !important; 
    text-transform: capitalize;
    transition: .3s;
    padding: 0 50px!important;
}
.manu ul li:last-child a{
    padding-right: 0 !important;
}
.manu ul li a:hover{
    color:#ffffff !important; 
}
/*header-end*/
/*slider-start*/
.slider{
    background-color: #fcdb00;
    padding-bottom: 100px;
}
.cid {
    bottom: -80px;
  
}
.cid li {
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #010101;   
}

.s-content{
    margin-top: 60px;
    padding: 20px;
}
.s-content h1{
    font-weight: 700;
     font-size: 32px;
    margin: 0;
}
.s-content h2{
    font-weight: 400;
    font-size: 20px;
    color:#313841;
    margin: 20px 0;
}
.s-content p{
    color:#555555;
    margin-bottom: 30px;
}

.icon{}

.icon li i{
    font-size: 42px;
    margin-right: 20px;
    transition: .3s;
}
.icon li i:hover{
    color:white;
    transform: scale(1.5)
}


/*slider-end*/